body {
    background-color: white;
    padding: 20px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #0000A0;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.content {
    background-color: #EEEEEE;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: steelblue;
}

.activeV2 {
    background-color: lightgoldenrodyellow;
}

.topic {
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
}